language: ruby
sudo: false
cache: bundler

rvm:
  - 2.1
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - 2.6.2
  - jruby
  - rbx-2

gemfile:
  - gemfiles/active_record_4.1.gemfile
  - gemfiles/active_record_4.2.gemfile

matrix:
  include:
    - gemfile: gemfiles/active_record_5.0.gemfile
      rvm: 2.2.9
    - gemfile: gemfiles/active_record_5.0.gemfile
      rvm: 2.3.6
    - gemfile: gemfiles/active_record_5.0.gemfile
      rvm: 2.4.3
    - gemfile: gemfiles/active_record_5.0.gemfile
      rvm: 2.5.0
    - gemfile: gemfiles/active_record_5.0.gemfile
      rvm: 2.6.2
    - gemfile: gemfiles/active_record_5.1.gemfile
      rvm: 2.2.9
    - gemfile: gemfiles/active_record_5.1.gemfile
      rvm: 2.3.6
    - gemfile: gemfiles/active_record_5.1.gemfile
      rvm: 2.4.3
    - gemfile: gemfiles/active_record_5.1.gemfile
      rvm: 2.5.0
    - gemfile: gemfiles/active_record_5.1.gemfile
      rvm: 2.6.2
    - gemfile: gemfiles/active_record_5.2.gemfile
      rvm: 2.2.9
    - gemfile: gemfiles/active_record_5.2.gemfile
      rvm: 2.3.6
    - gemfile: gemfiles/active_record_5.2.gemfile
      rvm: 2.4.3
    - gemfile: gemfiles/active_record_5.2.gemfile
      rvm: 2.5.0
    - gemfile: gemfiles/active_record_5.2.gemfile
      rvm: 2.6.2
    - gemfile: gemfiles/active_record_edge.gemfile
      rvm: 2.4.3
    - gemfile: gemfiles/active_record_edge.gemfile
      rvm: 2.5.0
  exclude:
    - gemfile: gemfiles/active_record_4.1.gemfile
      rvm: 2.4.3
    - gemfile: gemfiles/active_record_4.1.gemfile
      rvm: 2.5.0
  allow_failures:
    - rvm: jruby
    - rvm: rbx-2
    - gemfile: gemfiles/active_record_edge.gemfile
      rvm: 2.2.7
    - gemfile: gemfiles/active_record_edge.gemfile
      rvm: 2.3.4
    - gemfile: gemfiles/active_record_edge.gemfile
      rvm: 2.4.1
